@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@theme {
  --spacing-4px: 0.25rem;
  --spacing-8px: 0.5rem;
  --spacing-12px: 0.75rem;
  --spacing-16px: 1rem;
  --spacing-20px: 1.25rem;
  --spacing-40px: 2.5rem;

  --text-h1: 3rem;
  --tracking-h1: -0.01em;
  --leading-h1: 3.875rem;

  --text-h2: 2.25rem;
  --tracking-h2: -0.01em;
  --leading-h2: 2.925rem;

  --text-h3: 1.5rem;
  /* --tracking-h3: -0.01em; */
  --leading-h3: 1.875rem;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.gridBase {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
  width: 100%;
  padding: 0 30px;
}
